.slides-list-container {
  display: flex;
  height: 80vh;
}
.slides-list-values {
  width: 22%;
  overflow: auto;
  background-color: #f8fafc;
  color: black;
  padding: 0;
  list-style-type: decimal;
}
